In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
sns.set(style="white", color_codes=True)

In [53]:
df1=pd.read_csv("2016.csv")

In [54]:
df1.shape

(27018, 7)

In [55]:
df1.head()

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
0,Dog Individual Spayed Female,GOLDENDOODLE,GOLD,TALLY,15227,2016,2/16/2016 14:55
1,Dog Senior Citizen or Disability Spayed Female,CHIHUAHUA,WHITE/BLACK/BROWN,CHALUPA,15120,2016,1/11/2016 15:23
2,Dog Individual Neutered Male,GER SHORTHAIR POINT,SPOTTED,JINX,15236,2016,12/22/2015 15:32
3,Dog Senior Citizen or Disability Female,BEAGLE,MULTI,JACKPINE JERUSALEM,15044,2016,12/17/2015 12:28
4,Dog Senior Citizen or Disability Female,BEAGLE,MULTI,JACKPINE JORDAN,15044,2016,12/17/2015 12:28

In [57]:
df1.tail()

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
27013,Dog Individual Spayed Female,GER SHEPHERD,WHITE,GHOST,15218,2016,12/13/2016 11:16
27014,Dog Individual Neutered Male,ROTTWEILER MIX,BLACK/BROWN,BUCKEYE,15044,2016,12/13/2016 11:18
27015,Dog Individual Neutered Male,SIB HUSKY,BROWN,ROCCO,15146,2016,12/19/2016 9:58
27016,Dog Individual Spayed Female,MIXED,BROWN,ECHO,15237,2016,12/19/2016 10:06
27017,Dog Senior Lifetime Male,YORKSHIRE TERRIER,BLACK/TAN,SCRAPPY,15110,2016,12/23/2016 10:15

In [58]:
df2=pd.read_csv("2015.csv")

In [34]:
df2.shape

(29179, 7)

In [37]:
df2.head()

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
0,Dog Senior Citizen or Disability Female,GER SHEPHERD MIX,TAN,SKYLER,15003,2015,3/6/2015 16:12
1,Dog Individual Male,BEAGLE MIX,WHITE/TAN,BUDDY,15003,2015,12/26/2014 15:32
2,Dog Individual Male,COCKER SPANIEL,SPOTTED,SIMON,15003,2015,1/7/2015 13:57
3,Dog Individual Spayed Female,MIXED,BLACK,DAISY,15003,2015,8/13/2015 15:23
4,Dog Individual Neutered Male,GOLDEN RETRIEVER,GOLD,BAUER,15003,2015,12/24/2014 8:58

In [38]:
df2.tail()

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
29174,Dog Senior Citizen or Disability Spayed Female,BEAGLE MIX,BROWN,SOFIA CLARK,16059,2015,12/30/2014 15:05
29175,Dog Individual Spayed Female,SHEPHERD MIX,WHITE/BLACK/BROWN,SOPHIE,16059,2015,1/8/2015 9:05
29176,Dog Senior Citizen or Disability Male,LAB MIX,BLACK,D O G,16059,2015,5/12/2015 11:49
29177,Dog Individual Neutered Male,COCKER SPANIEL,BLACK,DUSTY,16059,2015,1/8/2015 9:05
29178,Dog Individual Neutered Male,MIXED,BLACK/BROWN,HOOCH,16059,2015,2/24/2015 16:13

In [40]:
df3=pd.read_csv("2014.csv")

In [41]:
df4=pd.read_csv("2013.csv")

In [42]:
df5=pd.read_csv("2012.csv")

In [43]:
df6=pd.read_csv("2011.csv")

In [44]:
df7=pd.read_csv("2010.csv")

In [45]:
df8=pd.read_csv("2009.csv")

In [46]:
df9=pd.read_csv("2008.csv")

In [47]:
df10=pd.read_csv("2007.csv")

In [59]:
df11=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10])

In [60]:
df11.shape

(296837, 7)

In [63]:
df11.columns

Index(['LicenseType', 'Breed', 'Color', 'DogName', 'OwnerZip', 'ExpYear',
       'ValidDate'],
      dtype='object')

In [74]:
df11.shape

(296837, 7)

In [79]:
df11.isnull()

       LicenseType  Breed  Color  DogName  OwnerZip  ExpYear  ValidDate
0            False  False  False    False     False    False      False
1            False  False  False    False     False    False      False
2            False  False  False    False     False    False      False
3            False  False  False    False     False    False      False
4            False  False  False    False     False    False      False
5            False  False  False    False     False    False      False
6            False  False  False    False     False    False      False
7            False  False  False    False     False    False      False
8            False  False  False    False     False    False      False
9            False  False  False    False     False    False      False
10           False  False  False    False     False    False      False
11           False  False  False    False     False    False      False
12           False  False  False    False     False    False      False
13           False  False  False    False     False    False      False
14           False  False  False    False     False    False      False
15           False  False  False    False     False    False      False
16           False  False  False    False     False    False      False
17           False  False  False    False     False    False      False
18           False  False  False    False     False    False      False
19           False  False  False    False     False    False      False
20           False  False  False    False     False    False      False
21           False  False  False    False     False    False      False
22           False  False  False    False     False    False      False
23           False  False  False    False     False    False      False
24           False  False  False    False     False    False      False
25           False  False  False    False     False    False      False
26           False  False  False    False     False    False      False
27           False  False  False    False     False    False      False
28           False  False  False    False     False    False      False
29           False  False  False    False     False    False      False
...            ...    ...    ...      ...       ...      ...        ...
29831        False  False  False    False     False    False      False
29832        False  False  False    False     False    False      False
29833        False  False  False    False     False    False      False
29834        False  False  False    False     False    False      False
29835        False  False  False    False     False    False      False
29836        False  False  False    False     False    False      False
29837        False  False  False    False     False    False      False
29838        False  False  False    False     False    False      False
29839        False  False  False    False     False    False      False
29840        False  False  False    False     False    False      False
29841        False  False  False    False     False    False      False
29842        False  False  False    False     False    False      False
29843        False  False  False    False     False    False      False
29844        False  False  False    False     False    False      False
29845        False  False  False    False     False    False      False
29846        False  False  False    False     False    False      False
29847        False  False  False    False     False    False      False
29848        False  False  False    False     False    False      False
29849        False  False  False    False     False    False      False
29850        False  False  False    False     False    False      False
29851        False  False  False    False     False    False      False
29852        False  False  False    False     False    False      False
29853        False  False  False    False     False    False      False
29854        False  False  False    False     False    False      False
29855        False  False  False    False     False    False      False
29856        False  False  False    False     False    False      False
29857        False  False  False    False     False    False      False
29858        False  False  False    False     False    False      False
29859        False  False  False    False     False    False      False
29860        False  False  False    False     False    False      False

[296837 rows x 7 columns]

In [80]:
df11.isnull().sum()

LicenseType       0
Breed             0
Color             0
DogName           0
OwnerZip          0
ExpYear           0
ValidDate      1646
dtype: int64

In [64]:
df11["Breed"].value_counts()

MIXED                             39002
LABRADOR RETRIEVER                22536
LAB MIX                           17136
GOLDEN RETRIEVER                  10110
AM PIT BULL TERRIER                9824
BEAGLE                             9112
GER SHEPHERD                       8987
SHIH TZU                           7731
CHIHUAHUA                          7170
BOXER                              6598
YORKSHIRE TERRIER                  6074
DACHSHUND                          5771
GER SHEPHERD MIX                   5533
BEAGLE MIX                         5175
PUG                                3841
COCKER SPANIEL                     3743
ROTTWEILER                         3372
PARSON RUSSELL TERR                3339
MALTESE                            3224
BICHON FRISE                       3214
AM PITT BULL MIX                   2997
TERRIER MIX                        2984
SHETLAND SHEEPDOG                  2975
POMERANIAN                         2888
SIB HUSKY                          2707
TAG                                2629
BOSTON TERRIER                     2267
BOXER MIX                          2239
SCHNAUZER MIN                      2169
COCKAPOO                           2143
                                  ...
BRACCO ITALIANO                       2
W SIBERIAN LAIKA                      1
BASSET GRIFFON VEND                   1
PUPPY                                 1
GREYHOUND SPANISH                     1
KISHU                                 1
BASSET GRIFFON VEND?EN (PETIT)        1
PODENGO PORT MEDIO                    1
Mountain Feist                        1
CIRNECO DELL ETNA                     1
KOOIKERHONDJE                         1
PORT WIREHAIR PODENG                  1
SWEDISH VALLHUND                      1
PYRENEAN SHEPHERD                     1
PERUVIAN INCA ORCHID                  1
PHARAOH HOUND                         1
RUSSIAN TOY                           1
ALPINE DACHSBRACKE                    1
TRANSYLVANIAN HOUND                   1
MIN-PEI                               1
N AM AUS SHEPHERD                     1
BEAGLE HARRIER                        1
PUMI                                  1
EPAGNEUL PONT-AUDEM                   1
DANISH BROHOLMER                      1
SLOVENSKY CUVAC                       1
GRAND GRIFFON VENDE                   1
KANGAL DOG                            1
BELG LAEKENOIS                        1
SHILLER HOUND                         1
Name: Breed, Length: 344, dtype: int64

In [89]:
df11["Color"].value_counts()

BLACK                   47053
BROWN                   36682
WHITE                   24300
BLACK/BROWN             21906
WHITE/BLACK             21604
WHITE/BLACK/BROWN       15412
WHITE/BROWN             15117
SPOTTED                 13573
BRINDLE                  9044
GOLD                     7596
BLACK/TAN                7535
TAN                      7170
YELLOW                   6843
RED                      6043
MULTI                    5325
FAWN                     5223
WHITE/TAN                4406
BLONDE                   3363
GREY                     2945
OTHER                    2124
SABLE                    1700
WHITE/GREY               1685
CREAM                    1677
WHITE/RED                1641
TRI-COLOR                1623
BLUE                     1486
CHOCOLATE                1462
BLACK WITH WHITE         1400
APRICOT                  1337
BUFF                     1149
                        ...
BLACK/FAWN                381
ORANGE/WHITE              380
MERLE                     365
BLACK/BRINDLE             320
BLACK/BROWN/GREY          297
WHITE/BLUE                291
ORANGE                    260
WHITE/APRICOT             246
LIVER                     215
GOLD/RED                  202
RED/BLONDE                180
RUST                      173
BLACK/CREAM               159
BLUE/TAN                  159
WHITE/ORANGE              140
BLUE/GOLD                 133
BROWN/GOLD                121
RED/BRINDLE               119
BROWN/BLONDE               86
BROWN/FAWN                 84
CINNAMON                   83
BROWN/TAN/BRINDLE          59
BLACK/BLUE                 38
BROWN/ORANGE               34
BLACK/ORANGE               23
BLACK/MERLE                20
BROWN/LIVER                18
BLACK/LIVER                17
BLACK/ORANGE/BRINDLE       13
WHITE/MERLE                12
Name: Color, Length: 80, dtype: int64

In [87]:
df11["DogName"].value_counts()

BUDDY              3810
BELLA              3530
MAX                3321
MOLLY              2486
BAILEY             2446
SADIE              2427
LUCY               2421
DAISY              2286
MAGGIE             2040
ROCKY              1771
CHARLIE            1551
ANGEL              1525
TOBY               1508
CHLOE              1500
JAKE               1470
HARLEY             1447
BEAR               1392
ABBY               1370
SHADOW             1355
LUCKY              1287
ZOEY               1278
JACK               1267
COCO               1235
RILEY              1189
DUKE               1189
BUSTER             1183
GINGER             1177
ROXY               1148
CODY               1118
ZOE                1081
                   ...
QUAGMIRE              1
SCOOTER BENSON        1
ZIO HOLLAND           1
LOREDO                1
CLIDE                 1
BUBBHA                1
STICK                 1
FLEURY ABEL           1
RAGGEDY ANN           1
LEONE                 1
BENJAMIN ROMERO       1
GAB                   1
ADOLF                 1
LAXSON                1
HARLEY MILLER         1
SHOPHIA               1
RONE                  1
CHLOE MCLEAN          1
SHULA                 1
GIOVANNI ROPER        1
SQUASH                1
STANCE                1
LOGIC                 1
PUFFY POOLE           1
KALUP                 1
ELIZABETH MARIA       1
BLUE PAWLASKI         1
SCHMEG                1
AIXA                  1
MENLYN                1
Name: DogName, Length: 26422, dtype: int64

In [88]:
df11["OwnerZip"].value_counts()

15237    11654
15235    11443
15108    11302
15044     9145
15102     9144
15236     8519
15146     8351
15136     7655
15239     7546
15101     7223
15227     7180
15132     7057
15122     6839
15202     6466
15120     6460
15143     5905
15025     5886
15147     5801
15090     5591
15106     5500
15241     5466
15221     5329
15037     5110
15065     5024
15084     4935
15205     4903
15116     4733
15209     4731
15229     4650
15238     4543
         ...
15317        4
15016        4
15130        3
15601        3
15038        3
15367        3
15242        3
15105        2
15059        2
15010        1
15008        1
15331        1
15109        1
15708        1
15701        1
17821        1
16001        1
15627        1
15114        1
15061        1
15062        1
15052        1
15125        1
19350        1
15301        1
15686        1
15801        1
15080        1
15421        1
15690        1
Name: OwnerZip, Length: 160, dtype: int64